/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    width: 100vw;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    background-color: #000;
}

:root {
    touch-action: pan-x pan-y;
    height: 100%;
}

* {
    touch-action: manipulation;
}

::-webkit-scrollbar {
    display: none;
}

.unsupported {
    margin: auto;
    width: 390px;
    height: 844px;
}

.material-symbols-outlined {
    font-size: 35px;
}

#play-pause > span.material-symbols-outlined {
    font-size: 55px;
}

#back > span.material-symbols-outlined {
    font-size: 55px;
}

.material-icons {
    font-size: 50px;
}

#up > span.material-symbols-outlined {
    font-size: 55px;
}

#down > span.material-symbols-outlined {
    font-size: 55px;
}

#left > span.material-symbols-outlined {
    font-size: 55px;
}

#right > span.material-symbols-outlined {
    font-size: 55px;
}

.AVR-power {
    line-height: 35px;
}

.source-icon {
    vertical-align: middle;
    font-size: 20px;
    margin-bottom: 2px;
}

#source-box {
    position: relative;
    z-index: 2;
}

.z-index {
    position: relative;
    z-index: -2;
}

.z-index * {
    position: relative;
    z-index: -2;
}

.select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
    border-radius: 10px;
}
.selector {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #4a4a4a;
    color: lightgrey;
}
.select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    height: 60px;
    border-radius: 10px;
    background-color: #4a4a4a;
    color: lightgrey;
}

.arrow {
    margin-right: -5px;
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before,
.arrow::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: lightgrey;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: lightgrey;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 10px;
    background: #4a4a4a;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    border: 5px solid #3c3c3c;
}
.selector.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    border-radius: 10px;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: lightgrey;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
}

.custom-option:hover {
    cursor: pointer;
    filter: brightness(85%);
    border-radius: 10px;
}

.custom-option.selected {
    color: #ffffff;
    background-color: #305c91;
    border-radius: 10px;
}

.circle {
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c3c3c;
    color: lightgrey;
}

.rectangle {
    position: relative;
    display: flex;
    height: calc((100vh / 7) * 0.75);
    width: 100%;
    background-color: #4a4a4a;
    color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.power-off {
    color: #4a4a4a;
}

.power-on {
    color: lightgrey;
}

.power-parent {
    padding-top: 0;
    margin-left: 5px;
}

.red {
    background-color: #d84105;
    padding-right: 2.5px;
}

.upper-power {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0 !important;
    padding-bottom: 10px;
}

.upper-power > div.column {
    padding-bottom: 5px;
    padding-top: 0;
    text-align: center;
}

.upper-power > div.column > div {
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.source-column {
    padding-top: 0;
}

#option {
    color: lightgrey;
    margin-top: 10px;
}

#volume {
    color: lightgrey;
    margin-top: -20px;
    font-size: 20px;
}

.ok-container {
    z-index: 0;
}

.ok-container * {
    z-index: 0;
}

.row-1 {
    height: calc((100vh / 7) + 15px) !important;
}

#up {
    margin: auto;
    margin-left: -7.5px;
    margin-bottom: -65px;
    height: calc((100vh / 7) + 30px);
    width: calc(100vh / 7);
    padding-bottom: 60px;
}

::-webkit-details-marker {
    display: none;
}

#down {
    height: calc((100vh / 7) + 30px);
    width: calc(100vh / 7);
    margin: auto;
    margin-left: -7.5px;
    margin-top: -45px;
    padding-top: 55px;
}

#ok {
    color: lightgrey;
    font-size: 40px;
    aspect-ratio: 1/1;
    margin-left: -12.5px;
    width: 120%;
    border-radius: 100%;
    border: 10px solid #000;
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: #4a4a4a;
}

#left {
    margin-left: 15px;
    width: 110%;
    padding-right: 35px;
    height: calc(100vh / 7);
}

#right {
    margin-left: -30px;
    width: 110%;
    height: calc(100vh / 7);
    padding-left: 35px;
}

.left-small {
    width: 25% !important;
    margin: auto;
}

.right-small {
    width: 25% !important;
    margin: auto;
}

.bottom-small {
    margin-top: 20px;
}

.under-pad {
    margin-top: 1px;
}

.row {
    height: calc(100vh / 7);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 5px !important;
}

.apps {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0 !important;
    padding-bottom: 10px;
}

.apps::-webkit-scrollbar {
    display: none;
}

.app {
    aspect-ratio: 290/218;
    height: 90%;
    border-radius: 5px;
    margin: 0 10px;
}

#disney-plus {
    background-image: url('images/Disney-Plus.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#apple-tv {
    background-image: url('images/Apple-TV.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#hbo-max {
    background-image: url('images/HBO-Max.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#youtube {
    background-image: url('images/YouTube.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#netflix {
    background-image: url('images/Netflix.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#f1 {
    background-image: url('images/F1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#prime-video {
    background-image: url('images/Prime-Video.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#hulu {
    background-image: url('images/Hulu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#espn {
    background-image: url('images/ESPN.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#spotify {
    background-image: url('images/Spotify.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#apple-music {
    background-image: url('images/Apple-Music.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#peacock {
    background-image: url('images/Peacock.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#jellyfin {
    background-image: url('images/Jellyfin.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#adult-swim {
    background-image: url('images/Adult-Swim.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
